---
---

html, body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 24px;
}
body {
  background: black url("../images/MENO.jpg") no-repeat left bottom;
  background-size: contain;
  color: #ddd;
  text-align: center;
  font-family: 'Lora', serif;
}
.container {
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 80px;
  font-weight: 400;
  font-style: italic;
  /*text-shadow: 1px 1px 0 #444;*/
  margin: 0 0 0.2em;
  color: white;
}
h1 svg {
  fill: currentColor;
  width: 100%;
  display: block;
}
p {
  font-size: 18px;
  margin: 0;
  font-family: "helvetica neue", sans-serif;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.6);
  color: #ff0069;
  letter-spacing: 0.1em;
}

@media screen and (min-width: 500px) {
  h1 { font-size: 100px; }
  h1 svg { width: 300px; }
  p { font-size: 20px; }
}

@media screen and (min-width: 800px) {
  h1 { font-size: 120px; }
  h1 svg { width: 350px; }
  p { font-size: 22px; }
}

@media screen and (min-width: 1200px) {
  h1 { font-size: 140px; }
  h1 svg { width: 400px; }
  p { font-size: 24px; }
}
