---
---

@import "bourbon/bourbon";
@import "normalize";

$lh: 1.5rem;
$color--highlight: #FF0069;

@include keyframes(highlight) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@include keyframes(line-fade-in) {
  from {
    @include transform(translateY(-1em));
    opacity: 0;
  }
  to {
    @include transform(translateY(0));
    opacity: 1;
  }
}

@include keyframes(line-fade-out) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@include keyframes(blackout) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(heartbeat) {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
    @include transform(scale(1, 1));
  }
  100% {
    opacity: 0;
    @include transform(scale(10, 10));
  }
}

html, body {
  height: 100%;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  //background: url('../images/MENO.jpg') no-repeat bottom left black;
  background-color: black;
  background-size: auto 80%;
}

h1, h2 {
  margin: 0;
}

p {
  margin: 0;
}

%font-stack--body {
  font-family: "FrutigerNeueLTPro-Book", sans-serif;
  font-weight: 100;
  color: #E8E8E8;
  line-height: $lh;
}

%font-stack--title {
  font-family: "FrutigerNeueLTPro-Bold", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 3*$lh;
  height: 3*$lh;
}

body {
  //display: flex;
}

main, header {
  //flex: 1;
}

main {
  height: 100vh;
  position: relative;
}

.player {
  position: absolute;
  height: 720px;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    bottom: 0;
    width: 1280px;
    height: 720px;
    left: 50%;
    margin-left: -(1280px/2);
    vertical-align: bottom;
  }
  &__mouse-capture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.intro {
  position: relative;
  width: 600px;
  margin: auto;
  z-index: 100;
  &.blackout {
    @include animation(blackout 5s ease-in);
  }
  &__title {
    margin: 0;
    width: 100%;
    padding-top: $lh;
    img {
      width: 100%;
    }
  }
}

.block {
  width: 280px;
  float: left;
  position: relative;
  @include transform(translate3d(0, 0, 0)); // Avoid flickering of font when video starts playing
  &:nth-of-type(1) {
    margin-right: 40px;
  }
  &__header, &__header--icons {
    @extend %font-stack--title;
  }
  &__header {
    opacity: 0;
    .lyrics-visible & {
      @include animation(line-fade-in 0.3s ease-out);
      @include animation-fill-mode(forwards);
    }
    .lyrics-invisible & {
      opacity: 1;
      @include animation(line-fade-out 0.3s ease-out);
      @include animation-fill-mode(forwards);
    }
  }
  &__header--icons {
    text-align: center;
    @include transform(translateX(-10.3em));

    @include transition-property(transform);
    @include transition-duration(0.4s);
    @include transition-timing-function(ease-out);
    .lyrics-visible & {
      @include transform(translateX(0));
    }
    img {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__lyrics, &__lyrics--chorus, &__lyrics--second-verse {
    &__line {
      white-space: nowrap;
      opacity: 0;
      .lyrics-visible & {
        @include animation(line-fade-in 0.3s ease-out);
        @include animation-fill-mode(forwards);
        &:nth-of-type(2) {
          @include animation-delay(0.05s);
        }
        &:nth-of-type(3) {
          @include animation-delay(0.1s);
        }
        &:nth-of-type(4) {
          @include animation-delay(0.15s);
        }
        &:nth-of-type(5) {
          @include animation-delay(0.2s);
        }
        &:nth-of-type(6) {
          @include animation-delay(0.28s);
        }
        &:nth-of-type(7) {
          @include animation-delay(0.35s);
        }
      }
      .lyrics-invisible & {
        opacity: 1;
        @include animation(line-fade-out 0.30s ease-out);
        @include animation-fill-mode(forwards);
      }
    }

    position: absolute;
    left: 0;
    top: 3*$lh;
    @extend %font-stack--body;
    span {
      position: relative;
      display: inline-block;
      .highlight {
        opacity: 0;
        position: absolute;
        top: 0;
        left: -0.2em;
        right: -0.2em;
        bottom: 0.2em;
        border-radius: 1px;
        background: $color--highlight;
      }
      &.highlighted .highlight {
        @include animation(highlight 3s ease-out);
      }
      .heart {
        opacity: 0;
        content: '';
        height: $lh;
        width: $lh;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -($lh/2);
        background: url("../images/heart-icon.svg") top left no-repeat;
        &.beat {
          @include animation(heartbeat 0.8s ease-out);
        }
      }
    }
  }
  &__lyrics--chorus {
    color: $color--highlight;
  }
  &__lyrics {
    @include transform(translateX(0));
  }
  &__lyrics--second-verse {
    opacity: 0;
    @include transform(translateX(3em));
  }
  &__lyrics, &__lyrics--second-verse {
    @include transition(all 0.5s ease-out);
  }
  &.second-verse {
    .block__lyrics {
      opacity: 0;
      @include transform(translateX(-3em));
    }
    .block__lyrics--second-verse {
      opacity: 1;
      @include transform(translateX(0));
    }
  }
}




// Player controls

.player-controls {
  opacity: 0;
  @include transition(opacity 0.15s linear);
  .player-paused &, &:hover {
    opacity: 1;
  }
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.5*$lh;
  //border-top: 1px solid $color--highlight;
  background: transparentize($color--highlight, 0.7);

  &__click-area, &__cursor-follow, &__progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
  &__click-area {
    cursor: pointer;
    width: 100%;
  }
  &__cursor-follow {
    width: 0;
    background: rgba(255, 255, 255, 0.1);
  }
  &__progress {
    width: 0;
    background: $color--highlight;
  }
}

