---
---

@import "bourbon/bourbon";
@import "normalize";

$lh: 2rem;
$color--highlight: #FF0069;
$breakpoint: 660px;

@include keyframes(highlight) {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(line-fade-in) {
  from {
    @include transform(translateY(-1em));
    opacity: 0;
  }
  to {
    @include transform(translateY(0));
    opacity: 1;
  }
}

@include keyframes(line-fade-out) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@include keyframes(blackout) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(heartbeat) {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
    @include transform(scale(1, 1));
  }
  100% {
    opacity: 0;
    @include transform(scale(10, 10));
  }
}

html, body {
  height: 100%;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  //background: url('../images/MENO.jpg') no-repeat bottom left black;
  background-color: black;
  background-size: auto 80%;
}

h1, h2 {
  margin: 0;
}

p {
  margin: 0;
}

@font-face {
  font-family: 'Frutiger Neue';
  font-style: normal;
  font-weight: 100;
  src: local('FrutigerNeueLTPro-Book'), url('../fonts/NeueFrutigerProBook.woff') format('woff'), url('../fonts/NeueFrutigerProBook.otf') format('otf');
}

@font-face {
  font-family: 'Frutiger Neue';
  font-style: normal;
  font-weight: 400;
  src: local('FrutigerNeueLTPro-Bold'), url('../fonts/NeueFrutigerProBold.woff') format('woff'), url('../fonts/NeueFrutigerProBold.otf') format('otf');
}


%font-stack--body {
  font-family: "Frutiger Neue", sans-serif;
  font-weight: 100;
  color: #E8E8E8;
  line-height: $lh;
}

%font-stack--title {
  font-family: "Frutiger Neue", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 3*$lh;
  height: 3*$lh;
}

main {
  position: relative;
  overflow: hidden;
}

.intro {
  position: relative;
  max-width: 37.5rem;
  margin: auto;
  z-index: 100;
  padding: 4*$lh $lh 0 $lh;
  &.blackout {
    @include animation(blackout 5s ease-in);
  }
  &__title {

    $image-width: 190px;
    $image-height: 86px;
    $content-width: 600px;

    position: relative;
    margin: 0;
    width: 100%;
    height: 86px;
    margin-bottom: $lh;
    pointer-events: none;
    img {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: ((($content-width - $image-width)/2) / $content-width) * 100%;
      width: $image-width/$content-width*100%;
    }
  }
}

.block {

  width: 280px;
  float: left;
  position: relative;
  @include transform(translate3d(0, 0, 0)); // Avoid flickering of font when video starts playing
  &:nth-of-type(1) {
    margin-right: 40px;
  }
  &__header, &__header--icons {
    @extend %font-stack--title;
  }
  &__header {
    opacity: 0;
    .lyrics-visible & {
      @include animation(line-fade-in 0.3s ease-out);
      @include animation-fill-mode(forwards);
    }
    .lyrics-invisible & {
      opacity: 1;
      @include animation(line-fade-out 0.3s ease-out);
      @include animation-fill-mode(forwards);
    }
  }
  &__header--icons {
    text-align: center;
    z-index: 1000;
    @include transform(translateX(-10.3em));

    @include transition-property(transform);
    @include transition-duration(0.4s);
    @include transition-timing-function(ease-out);
    .lyrics-visible & {
      @include transform(translateX(0));
    }
    a {
      height: 3*$lh;
      display: inline-block;
    }
    img {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__lyrics, &__lyrics--chorus, &__lyrics--second-verse {
    &__line {
      white-space: nowrap;
      opacity: 0;
      .lyrics-visible & {
        @include animation(line-fade-in 0.3s ease-out);
        @include animation-fill-mode(forwards);
        &:nth-of-type(2) {
          @include animation-delay(0.05s);
        }
        &:nth-of-type(3) {
          @include animation-delay(0.1s);
        }
        &:nth-of-type(4) {
          @include animation-delay(0.15s);
        }
        &:nth-of-type(5) {
          @include animation-delay(0.2s);
        }
        &:nth-of-type(6) {
          @include animation-delay(0.28s);
        }
        &:nth-of-type(7) {
          @include animation-delay(0.35s);
        }
      }
      .lyrics-invisible & {
        opacity: 1;
        @include animation(line-fade-out 0.30s ease-out);
        @include animation-fill-mode(forwards);
      }
    }

    position: absolute;
    left: 0;
    top: 3*$lh;
    @extend %font-stack--body;
    span {
      position: relative;
      display: inline-block;
      .highlight {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        background-repeat: no-repeat;
      }
      &.highlighted .highlight {
        @include animation(highlight 2.2s ease-out);
      }
      .heart {
        opacity: 0;
        content: '';
        height: $lh;
        width: $lh;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -($lh/2);
        background: url("../images/heart-icon.svg") center no-repeat;
        transform-origin: center;
        &.beat, &:hover {
          @include animation(heartbeat 0.8s ease-out);
        }
      }
    }
  }
  &__lyrics--chorus {
    color: $color--highlight;
  }
  &__lyrics {
    @include transform(translateX(0));
  }
  &__lyrics--second-verse {
    opacity: 0;
    @include transform(translateX(3em));
  }
  &__lyrics, &__lyrics--second-verse {
    @include transition(all 0.5s ease-out);
  }
  &.second-verse {
    .block__lyrics {
      opacity: 0;
      @include transform(translateX(-3em));
    }
    .block__lyrics--second-verse {
      opacity: 1;
      @include transform(translateX(0));
    }
  }
}

@media only screen and (max-width: $breakpoint) {
  .block.first, .block__lyrics, .block__lyrics--chorus, .player-controls {
    display: none;
  }
  .block {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    &__header--icons {
      @include transform(translateX(0));
    }
  }
  .player {
    opacity: 1;
    position: relative;
    margin: 0 auto;
    width: 95%;
    &__container {
      position: relative;
      padding-bottom: 60%;
      height: 0;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media only screen and (min-width: $breakpoint) {
  main {
    height: 100vh;
  }
  #player {
    opacity: 0;
  }
  .video-loaded #player {
    opacity: 1;
  }
  .player {
    position: absolute;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    overflow: hidden;
    background: url("../images/first-frame.jpg") no-repeat center center;
    iframe {
      position: absolute;
      top: 0;
      width: calc(100vh * 1.8);
      height: 100vh;
      left: 50%;
      margin-left: calc((-100vh * 1.8) / 2);
      vertical-align: bottom;
    }
    &__mouse-capture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

// Player controls
.player-controls {
  opacity: 0;
  @include transition(opacity 0.15s linear);
  .player-paused &, &:hover {
    opacity: 1;
  }
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.5*$lh;
  //border-top: 1px solid $color--highlight;
  background: transparentize($color--highlight, 0.7);

  &__click-area, &__cursor-follow, &__progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
  &__click-area {
    cursor: pointer;
    width: 100%;
  }
  &__cursor-follow {
    width: 0;
    background: rgba(255, 255, 255, 0.1);
  }
  &__progress {
    width: 0;
    background: $color--highlight;
  }
}

